/****** BASE STYLES ******/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;

}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 399px;
    float:left;
}

/****** HEADER ******/

header {
  height:100px;
  background-size: cover;
  background-position: left;

}



header h1 {
    padding: 10px 20px 20px 20px;
    font-family: 'Lora', serif;
    font-size: 36px;
    color:black ;
    width: 100%;

}
header h1 span {
    color: #77a466;
    clear:both;

}

nav {
    padding: 40px 10px 0px 10px;
    float: right;
    display:inline-block;
    font-size:15px;

}

nav ul li {
    display: inline-block;
    padding-left: 15px;
}

nav ul li a {
  text-transform:uppercase;
  text-decoration:none;
  font-size:16px;
  color:#77a466 ;
  float:right;
  font-family: 'Lora', serif;
}




section ul {
list-style: none;
}



/****** ABOUT ******/
#photo .full-width {
  margin-top:0px;

}
#photo img {
    border-bottom: 3px solid #77a466;
    border-top: 3px solid #77a466;
    margin: 25px;
}
#photo p {
font-family: 'Montserrat', sans-serif;
}
#work {
    text-align: left;
    overflow: auto;
}

#work .full-width {
    padding: 0px 0px;
    background:white;
    text-align:left;
}
#work .third-width {
  border-left: 2px solid #eee;
  border-top: 2px solid #eee;
}
#work h2 {
    font-size:26px;
    line-height:20px;
    width:auto;
    margin: 20px 0px 10px;
    text-align:left;
    padding-left:30px;
    text-transform: uppercase;
    color:#77a466 ;

    }

#work p {
        font-size:18px;
        text-align: left;
        line-height:20px;
        word-spacing:3px;
        line-height: 30px;
    }

#work h3 {
    font-size:26px;
    line-height:10px;
    width:400px;
    margin: 30px auto;
    padding-left:0px;
}

#work ul  {
    font-size:26px;
    padding-left:0px;
    text-align:left;
    color: #77a466
  }


#powered p {
    font-size:15px;
    text-align:center;
    padding-left: 50px;
    font-weight:bold;
}

#powered p span {
    color:green;
    clear:both;
  font-family: 'Leckerli One', cursive;
}
#our p  {
  word-spacing: 3px;
  line-height: 30px;
}
